<div class="container">
	<div class="jumbotron">
	    <h1>Simple Interview Prep</h1>
	        <p class="lead">We help you prepare for interviews more quickly and effectively.</p>
	</div>

	<div class="row">
  		<div class="col-md-12">
  				 <h2> <small>Get started by exploring a group of questions below:</small></h2>

  		</div>
	</div>

	<div class="row marketing">
	    <div class="col-md-6">
		 	<h4>Most Popular Questions</h4>
  				 
			<dl class="dl-horizontal">
				<dt>Google</dt>
				<dd>How many golf balls fit into a 747?</dd>

				<dt>Amazon</dt>
				<dd>How would you launch a new product category at Amazon?</dd>
			</dl>
  		</div>


	    <div class="col-lg-3">
	        <h4>Topics</h4>
	          <ul class="list-unstyled">
			  <li>Programming</li>
			  <li>Brain Teasers</li>
			  <li>Math</li>
			  <li>Case Study</li>
			  <li>Personality</li>
			</ul>

	    </div>

	    <div class="col-lg-3">
	        <h4>Job Types</h4>
	        <ul class="list-unstyled">
			  <li>Engineering</li>
			  <li>Data Analyst</li>
			  <li>Marketing</li>
			  <li>Writing</li>
			  <li>Support</li>
			</ul>

	    </div>


	 </div>


    <footer class="footer">
      <p>&copy; Company 2014</p>
    </footer>
</div>

